<a href="https://colab.research.google.com/github/DanielHFMacedo/Python-3-Data-Science-e-Machine-Learning-/blob/main/PY3_Aula_2_parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# A formação de um dataframe é :  df=pd.DataFrame(data,index,columns)
# É semelhante a Series com o acrèscimo de colunas

In [3]:
data=[[1,2,3],
      [4,5,6],
      [7,8,9],
      [10,11,12]]

In [8]:
dados=np.matrix(data)
print("Data: \n",data)
print(type(data))
print("Dados: \n",dados)
print(type(dados))

Data:
 [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
<class 'list'>
Dados:
 [[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]
<class 'numpy.matrix'>

In [10]:
# vamos ganhar agilidade criando a mesma matriz da seguinte forma:
meusDados = np.matrix('1,2,3;4,5,6;7,8,9;10,11,12')
print(meusDados)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [13]:
pd.DataFrame(meusDados)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [19]:
# No caso acima nós não salvamos o DataFrame numa variável, agora iremos fazer isso
meuDF=pd.DataFrame(meusDados)
meuDF

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [20]:
type(meuDF)

pandas.core.frame.DataFrame

In [22]:
meuDF.dtypes

0    int64
1    int64
2    int64
dtype: object

In [23]:
meuDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      int64
 1   1       4 non-null      int64
 2   2       4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes

In [24]:
# Modificando o tipo das variáveis com astype()
# É muito comum que, ao carregarmos nossas bases de dados, precisemos modificar 
# o tipo dos dados para conseguir trabalhar com eles.

meuDF.astype(float)

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [25]:
meuDF # Se chamarmos muDF novamente ele apresenta os dados no tipo inteiro novamente porque não armazenos o efeito do astype

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [27]:
meuDF=meuDF.astype(float)
meuDF

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [30]:
#também podemos modificar valores específicos do DataFrame:
meuDF[1]=meuDF[1].astype(str) # Isso transforma toda a coluna '1' em valores str
meuDF

      0     1     2
0   1.0   2.0   3.0
1   4.0   5.0   6.0
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [33]:
# Visualmente os DataFrames acima são iguais, usaremos dtypes para notar a diferença
meuDF.dtypes

0    float64
1     object
2    float64
dtype: object

In [34]:
# Um dos primeiros comando que usamos ao carregar o DataFrame é o shape
meuDF.shape

(4, 3)

In [36]:
# Também é muito comum usarmos em seguida o head(). Ele mostra as 5 primeiras linhas do DF por padrão.
# Se colocar head(n) veremos as n linhas 
meuDF.head(2)

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0

In [37]:
# De forma semelhante ao head, tail serve para ver as últimas 5 linhas do DataFrame, mas podemos passar valores 
meuDF.tail(2)

      0     1     2
2   7.0   8.0   9.0
3  10.0  11.0  12.0

In [38]:
# Describe é uma forma impressionante e rápida de resumir todos o DataFrame 
meuDF.describe()
# Note que a coluna 1 não apareceu porque seus dados foram transformados em string anteriormente.

               0          2
count   4.000000   4.000000
mean    5.500000   7.500000
std     3.872983   3.872983
min     1.000000   3.000000
25%     3.250000   5.250000
50%     5.500000   7.500000
75%     7.750000   9.750000
max    10.000000  12.000000

In [45]:
# Mesmo com o Data Frame já criado, podemos deixa-lo mais organizado.criando um index:
indice=['Linha'+str(i) for i in range(4)]
#também as colunas
colunas=['Coluna'+str(i) for i in range(3)]

indice

['Linha0', 'Linha1', 'Linha2', 'Linha3']

In [44]:
colunas

['Coluna0', 'Coluna1', 'Coluna2']

In [47]:
# Agora podemos iniciar com formatação correta:
df2=pd.DataFrame(meusDados,indice,colunas)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9
Linha3       10       11       12

In [50]:
df3={'Coluna0':{'Linha0':1,'Linha1':2,'Linha3':7},
     'Coluna1':{'Linha0':2,'Linha1':5,'Linha3':8},
     'Coluna2':{'Linha0':3,'Linha1':6,'Linha3':9},
}
df3
df3=pd.DataFrame(df3)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        2        5        6
Linha3        7        8        9

In [51]:
# Concatenando Data Frames 
df4=pd.concat([meuDF,df2,df3])
df4

           0     1     2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0
Linha3   NaN   NaN   NaN     10.0     11.0     12.0
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      2.0      5.0      6.0
Linha3   NaN   NaN   NaN      7.0      8.0      9.0

In [ ]:
# Podemos substituir NaN pela média, moda ou mediana dependendo do caso, podemos excluí-los também.

In [52]:
# O isnull é o comando que retorna True para valores Nan
df4.isnull()

            0      1      2  Coluna0  Coluna1  Coluna2
0       False  False  False     True     True     True
1       False  False  False     True     True     True
2       False  False  False     True     True     True
3       False  False  False     True     True     True
Linha0   True   True   True    False    False    False
Linha1   True   True   True    False    False    False
Linha2   True   True   True    False    False    False
Linha3   True   True   True    False    False    False
Linha0   True   True   True    False    False    False
Linha1   True   True   True    False    False    False
Linha3   True   True   True    False    False    False

In [53]:
# É muito usado co o comando sum(). Ele da a quantiade de nulos por coluna
df4.isnull().sum()

0          7
1          7
2          7
Coluna0    4
Coluna1    4
Coluna2    4
dtype: int64

In [54]:
# Podemos usar dois sum() para ter o total de nulos no DataFrame
df4.isnull().sum().sum()

33

In [57]:
# Usamos o comando fillna () para preencher not numbers
df4.fillna

<bound method DataFrame.fillna of            0     1     2  Coluna0  Coluna1  Coluna2
0        1.0   2.0   3.0      NaN      NaN      NaN
1        4.0   5.0   6.0      NaN      NaN      NaN
2        7.0   8.0   9.0      NaN      NaN      NaN
3       10.0  11.0  12.0      NaN      NaN      NaN
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      4.0      5.0      6.0
Linha2   NaN   NaN   NaN      7.0      8.0      9.0
Linha3   NaN   NaN   NaN     10.0     11.0     12.0
Linha0   NaN   NaN   NaN      1.0      2.0      3.0
Linha1   NaN   NaN   NaN      2.0      5.0      6.0
Linha3   NaN   NaN   NaN      7.0      8.0      9.0>

In [58]:
# Usando o fillna para criar outro DataFrame:
df5=df4.fillna(df4.mean())
df5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

           0     1     2    Coluna0    Coluna1    Coluna2
0        1.0   2.0   3.0   4.571429   5.857143   6.857143
1        4.0   5.0   6.0   4.571429   5.857143   6.857143
2        7.0   8.0   9.0   4.571429   5.857143   6.857143
3       10.0  11.0  12.0   4.571429   5.857143   6.857143
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha3   5.5   NaN   7.5  10.000000  11.000000  12.000000
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   2.000000   5.000000   6.000000
Linha3   5.5   NaN   7.5   7.000000   8.000000   9.000000

In [60]:
# Dropna é o último recurso, usado quando não foi possível tratar os dados, ou o tratamento prejudicava
# Antes de utilizar é bom sempre copiar 
df8=df5.copy()
df8

           0     1     2    Coluna0    Coluna1    Coluna2
0        1.0   2.0   3.0   4.571429   5.857143   6.857143
1        4.0   5.0   6.0   4.571429   5.857143   6.857143
2        7.0   8.0   9.0   4.571429   5.857143   6.857143
3       10.0  11.0  12.0   4.571429   5.857143   6.857143
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha3   5.5   NaN   7.5  10.000000  11.000000  12.000000
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   2.000000   5.000000   6.000000
Linha3   5.5   NaN   7.5   7.000000   8.000000   9.000000

In [63]:
df4.dropna(inplace=True) # Significa destruir todas as linhas que contém True
df4

Empty DataFrame
Columns: [0, 1, 2, Coluna0, Coluna1, Coluna2]
Index: []

In [65]:
df5.dropna(subset=[1],inplace=True) 
df5

      0     1     2   Coluna0   Coluna1   Coluna2
0   1.0   2.0   3.0  4.571429  5.857143  6.857143
1   4.0   5.0   6.0  4.571429  5.857143  6.857143
2   7.0   8.0   9.0  4.571429  5.857143  6.857143
3  10.0  11.0  12.0  4.571429  5.857143  6.857143

In [66]:
df6=df5.drop(columns=['Coluna0']) # Deleta a coluna 0
df6

      0     1     2   Coluna1   Coluna2
0   1.0   2.0   3.0  5.857143  6.857143
1   4.0   5.0   6.0  5.857143  6.857143
2   7.0   8.0   9.0  5.857143  6.857143
3  10.0  11.0  12.0  5.857143  6.857143

In [67]:
df7=df6.drop(index=[2]) # Deleta toda a 2 linha
df7

      0     1     2   Coluna1   Coluna2
0   1.0   2.0   3.0  5.857143  6.857143
1   4.0   5.0   6.0  5.857143  6.857143
3  10.0  11.0  12.0  5.857143  6.857143

In [68]:
# Para sabermos os valores únicos em um acoluna :
df5.Coluna2.unique()

array([6.85714286])

In [69]:
#Podemos usá-la para saber as colunas ou o índice do nosso DF:
df5.columns.unique()

Index([0, 1, 2, 'Coluna0', 'Coluna1', 'Coluna2'], dtype='object')

In [70]:
df5.index.unique()

Index([0, 1, 2, 3], dtype='object')

In [72]:
# Usando Sort_values() serve para "ordenar por"
df8.sort_values(by='Coluna1')
#aqui escolhemos ordenar pela Coluna1

           0     1     2    Coluna0    Coluna1    Coluna2
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha1   5.5   NaN   7.5   2.000000   5.000000   6.000000
0        1.0   2.0   3.0   4.571429   5.857143   6.857143
1        4.0   5.0   6.0   4.571429   5.857143   6.857143
2        7.0   8.0   9.0   4.571429   5.857143   6.857143
3       10.0  11.0  12.0   4.571429   5.857143   6.857143
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha3   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha3   5.5   NaN   7.5  10.000000  11.000000  12.000000

In [74]:
# Renomeando colunas e linhas com df.rename()
df8.rename(columns={'Coluna1':'COLUNA 1'},inplace=True)
df8

           0     1     2    Coluna0   COLUNA 1    Coluna2
0        1.0   2.0   3.0   4.571429   5.857143   6.857143
1        4.0   5.0   6.0   4.571429   5.857143   6.857143
2        7.0   8.0   9.0   4.571429   5.857143   6.857143
3       10.0  11.0  12.0   4.571429   5.857143   6.857143
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   4.000000   5.000000   6.000000
Linha2   5.5   NaN   7.5   7.000000   8.000000   9.000000
Linha3   5.5   NaN   7.5  10.000000  11.000000  12.000000
Linha0   5.5   NaN   7.5   1.000000   2.000000   3.000000
Linha1   5.5   NaN   7.5   2.000000   5.000000   6.000000
Linha3   5.5   NaN   7.5   7.000000   8.000000   9.000000

In [77]:
# Na pratica renomeamos muitas colunas ao mesmo tempo 
df8.rename(columns={0:'janeiro',1:'fevereiro',2:'março','Coluna 0':'abril',
                    'Coluna 1':'maio','Coluna 2':'junho','Coluna0':'julho',
                    'COLUNA 1':'agosto','Coluna2':'setembro'},inplace=True)
df8

        janeiro fevereiro  março      julho     agosto   setembro
0           1.0       2.0    3.0   4.571429   5.857143   6.857143
1           4.0       5.0    6.0   4.571429   5.857143   6.857143
2           7.0       8.0    9.0   4.571429   5.857143   6.857143
3          10.0      11.0   12.0   4.571429   5.857143   6.857143
Linha0      5.5       NaN    7.5   1.000000   2.000000   3.000000
Linha1      5.5       NaN    7.5   4.000000   5.000000   6.000000
Linha2      5.5       NaN    7.5   7.000000   8.000000   9.000000
Linha3      5.5       NaN    7.5  10.000000  11.000000  12.000000
Linha0      5.5       NaN    7.5   1.000000   2.000000   3.000000
Linha1      5.5       NaN    7.5   2.000000   5.000000   6.000000
Linha3      5.5       NaN    7.5   7.000000   8.000000   9.000000

In [78]:
df8.dropna(subset=['fevereiro'], inplace=True)
df8

   janeiro fevereiro  março     julho    agosto  setembro
0      1.0       2.0    3.0  4.571429  5.857143  6.857143
1      4.0       5.0    6.0  4.571429  5.857143  6.857143
2      7.0       8.0    9.0  4.571429  5.857143  6.857143
3     10.0      11.0   12.0  4.571429  5.857143  6.857143

In [79]:
df9=df8.rename(index={0:'Elon Musk',1:'Bill Gates',2:'Bernard Arnault',3:'Mark Zuckerberg'})
df9

                 janeiro fevereiro  março     julho    agosto  setembro
Elon Musk            1.0       2.0    3.0  4.571429  5.857143  6.857143
Bill Gates           4.0       5.0    6.0  4.571429  5.857143  6.857143
Bernard Arnault      7.0       8.0    9.0  4.571429  5.857143  6.857143
Mark Zuckerberg     10.0      11.0   12.0  4.571429  5.857143  6.857143

In [80]:
df8.reset_index() # Se não for interessante ou necessário renomear linha por linha podemos dar 'reset"
df8

   janeiro fevereiro  março     julho    agosto  setembro
0      1.0       2.0    3.0  4.571429  5.857143  6.857143
1      4.0       5.0    6.0  4.571429  5.857143  6.857143
2      7.0       8.0    9.0  4.571429  5.857143  6.857143
3     10.0      11.0   12.0  4.571429  5.857143  6.857143

In [82]:
# Contando valores com .value_counts()
df8.value_counts('março')

março
3.0     1
6.0     1
9.0     1
12.0    1
dtype: int64

In [83]:
#Value counts para obter o total de colunas:
df8.columns.value_counts().sum()

6

In [84]:
#Value counts para o total de linhas:
df8.index.value_counts().sum()

4